body{
    background-color: black;
}

h1{
    padding-top: 1rem;
    text-align: center;
    color: aliceblue;
}

.formulario{
    padding-top: 2rem;
}

.mb-3 label{
    padding-right: 2rem;
}

.card{
    background-color: #e3f2fd; 
}

img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

main{
    padding-bottom: 2rem;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: rgb(243, 120, 96);
    display: flex;
    justify-content: space-around;
    padding: 0.7rem;
    margin-top: auto;
}

.iconos img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}

.ftext{
  align-items: center;
  text-align: center;
  width: 65%;
}

@media (max-width:736px) {
    .iconos img {
      width: 2rem;
      height: 2rem;
      margin-left: 0.5rem;
    }
    .ftext{
        font-size: small;
        width: 55%;
    }
  }

  @media (max-width:316px) {
    .iconos img {
        margin-left: 0rem;
      }
  }
